<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Weather App</title>
  </head>
  <body>
    <main class="container ">
      <div class="main">
          <h1>Weather App</h1>
          <div>
              <form action="/" method="post">
                <input type="text" id="city_name" name="CityName" />
                <button>Find</button>
              </form>
          </div>
          {% if weather %}
          <h2>Weather in <b>{{ weather.location }}</b></h2>
          <p>{{ weather.temp_c }}</p>
          <p>{{ weather.description }}</p>
          {% endif %}
      </div>
    </main>
  </body>
</html>
